.reservation-page{
    width:100%;
}

.header{
    width: 100%;
    height: 10vh;
    position: relative;
}
.header > Link{
    height: 100%;
    width: 100%;
}
.header__logo{
    height: 80%;

    position: absolute;

    top: 50%;
    left:5%;
    transform: translate(-5%,-50%);
}

.reserve{
    width:70%;

    position: absolute;
    left:50%;
    transform: translate(-50%);
}
.reserve > h1{
    margin:0;
}
